body {
	background-color: #0B0B0B;
	font-size: 27pt;
	color: #000000;
	background-image: url(../pics/phon/girl_and_the_pond.jpg);
	background-repeat: no-repeat;
	background-size: 55em;
}
/*
#refdiv{
	vertical-align: middle;
}
*/
a {
	text-decoration: none;
	color: #000000;
}
#mini {
	font-size: 20px;
	cursor: pointer;
}
.surname {
	font-style: italic;
	font-weight: 100;
	color: #4c00c5;
}
.language{
	color: #ec0000;
}

.sign_word {
	font-size: 30pt;
	font-weight: bold;
	line-height: 30px;
	color: #0117bd;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4ea1ff, 0 0 0.5em #23b95c, 0 0 0.1em #6d1661;
}