body {
	background-color: #567;/* #000653; */
	font-size: 27pt;
	color: #3f3f3f;
	/*background-image: url(../pics/phon/girl_and_the_pond.jpg);*/
	background-repeat: no-repeat;
	background-size: 55em;
}
/*
#refdiv{
	vertical-align: middle;
}
*/
a {
	text-decoration: none;
	color: #000000;
}
#underline {
	text-decoration: underline;
}
.mini {
	font-size: 20px;
	cursor: pointer;
	line-height: 5px;
}
.surname {
	font-style: italic;
	font-weight: 100;
	color: #4c00c5;
}
.language {
	color: #ec0000;
}

.sign_word {
	font-style: italic;
	color: #4c00c5;
	font-weight: 100;

	font-size: 30pt;
	/* font-weight: bold; */
	line-height: 30px;
	/* color: #0117bd; */
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4ea1ff, 0 0 0.5em #23b95c, 0 0 0.1em #6d1661;
}